*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,a{
    list-style-type: none;
   text-decoration: none;
   color: black;
   font-size: 1rem;
   font-weight: 600;
   font-family: sans-serif;
   text-transform: uppercase;
}
header{
    background-image: url('./Assets/background-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    border: 2px solid red;

}
.navbar{
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    align-items: center;
}
.nav-item2{
    display: flex;
   gap: 20px;
   align-items: center;
}

/* ////////////////////////// */

button{

/* CSS */

  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}
.nav-item3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.btn1{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    font-size: medium;
    font-weight: 600;
    background-color:  white;
    color:black;
    box-shadow:  2px 5px 10px 5px  #aaaaaa;
}
.main{
    display: flex;
}
.ls{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    gap: 10px;
    margin-left: 5rem;
    margin-top: 5rem;
}
.txt{
    font-weight: 800;
    font-size: 4rem;
    text-transform: capitalize;
}
.para{
    font-size: 1.3rem;
}
.last{
    margin-top: 10rem;
    display: flex;
   gap: 5px;
    align-items: center;
}
.right-div{
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.img4{
    width: 800px;
    /* margin-right: 50px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.cs{
    z-index: 1;
    margin-right: 10rem;
}